body{

    font-family: 'Poppins', sans-serif;

}

.flexible-content{

    display: flex;

}

.half-width{

    width: 40%;

}

#Food-Network{

    margin-top: 10%;
    margin-left: 20%;

    box-shadow: 10px 10px 20px gray;
	width: 40%;

	margin-left: 10%;
	margin-right: 5%;

	padding-left: 25px;
    padding-top: 10px;

    border-left: 10px solid;
    border-radius: 20px;
	border-image: linear-gradient(orange,red) ;
	border-image-slice: 1;

}

.red{

    color: red;
    font-size: 2rem;

}

.orange{

    color: orange;
}

#green{

    color: rgb(122, 235, 8);
    font-size: 22px;
    font-weight: bolder;

}

a{

    text-decoration: none;
    background-image: linear-gradient(yellow,red);
    color: white;
    padding: 5px 15px;
    border: 2px solid tomato;
    border-radius: 20px;

}

.half-width img{

    width: 70%;
    margin-top: 25%;
    margin-left: 15%;

}

.Bottom-Space{

    margin-bottom: 11%;

}

#About-Me{

    margin-top: 10%;
    margin-left: 20%; 
    margin-right: 10%;
    
    padding-top: 70px;

}

#Image-Insertion{

    background-image: url(images/Frame\ 59.jpg);
    background-repeat: no-repeat;
    width: 100%;

}

#Recipy{

    width: 40%;
    margin-left: 30%;
    text-align: center;

}

.Flexible-Recipy{

    display: flex;
    
}

.Recipy-Width{

    width: 60%;

}

.Caeser{

    margin-left: 10%;
    box-shadow: 10px 10px 35px gray;
    border: 1px solid tomato;
    border-radius: 15px;
}

    
.Caeser img{

    height: 45%;
    width: 90%;
    padding-top: 10%;
    padding-right: 5%;
    padding-left: 5%;
    

}

.Caeser h2,p{

    width: 80%;
    padding-left: 20px;
    padding-right: 10px;

}

.Steam-Steak{

    margin-left: 5%;
    box-shadow: 10px 10px 35px gray;
    border: 1px solid tomato;
    border-radius: 15px;

}

.Steam-Steak img{
    height: 45%;
    width: 90%;
    padding-top: 10%;
    padding-right: 5%;
    padding-left: 5%;
    
}

.Steam-Steak h2,p{

    width: 80%;
    padding-left: 20px;
    padding-right: 10px; 

}

.Curry-Chiken{

    margin-left: 14%;
    margin-right: 20%;
    box-shadow: 10px 10px 35px gray;
    border: 1px solid tomato;
    border-radius: 15px;

}

.Curry-Chiken img{

    height: 270px;
    width: 90%;
    padding-top: 10%;
    padding-right: 5%;
    padding-left: 5%;
    

}

.Curry-Chiken h2,p{

    width: 80%;
    padding-left: 20px;
    padding-right: 10px; 


}

.Socials{

    display: flex;
    width: 60%;
    margin:15% 20%;

    box-shadow: 10px 10px 35px grey;
    border: 1px solid white;
    border-radius: 15px;

}


#Youtube{

    color: red;
    font-weight: bold;

}


#Instagram{

    color: salmon;
    font-weight: bold;

}

#Dribble{

    color: palevioletred;
    font-weight: bold;

}

.Socials p{

    padding-left: 150px;

}